.container {
  margin-bottom: 150px;
}
.orange-bg {
  background-color: #fceae8;
  border-radius: 20px;
}
.carousel-item {
  padding: 20px 40px;
}
.price {
  color: #ff136f;
}
.buy-btn {
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
  cursor: pointer;
}
.cat1,
.cat2,
.cat3 {
  padding: 10px 30px;
  border-radius: 10px;
}
.cat1 {
  background-color: orange;
}
.cat2 {
  background-color: orchid;
}
.cat3 {
  background-color: blue;
}
.categories h1 {
  color: white;
}
.categories img {
  height: 100px;
}
.card-footer {
  border-top: none;
  background-color: white;
}
.card {
  box-shadow: 10px 10px 20px gray;
}
#subscribe {
  height: 300px;
}
#subscribe button {
  margin-top: 20px;
}
footer {
  text-align: center;
}
